
      ErrorDocument  404  /index.php?controller=error&action=unknown_url&
	    AddDefaultCharset UTF-8
	    RewriteEngine on
	    RewriteRule ^/?$ ./index.php?controller=game&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^game/?$ ./index.php?controller=game&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^game/index/?$ ./index.php?controller=game&action=index&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^game/new/?$ ./index.php?controller=game&action=new&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^game/create/?$ ./index.php?controller=game&action=create&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^game/([0-9]+)/show/?$ ./index.php?controller=game&action=show&game=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^game/([0-9]+)/turn/?$ ./index.php?controller=game&action=turn&game=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^game/([0-9]+)/skip/?$ ./index.php?controller=game&action=skip&game=$1&%{QUERY_STRING} [L,NC,QSA]
    RewriteRule ^game/([0-9]+)/daybook/?$ ./index.php?controller=game&action=daybook&game=$1&%{QUERY_STRING} [L,NC,QSA]
    